<!DOCTYPE html>
<html class="h-100" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1,shrink-to-fit=no"
        />
        <meta
            name="description"
            content="A well made and handcrafted Bootstrap 5 template"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="img/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="img/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="img/favicon-16x16.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="img/favicon.png"
        />
        <meta name="author" content="Holger Koenemann" />
        <meta name="generator" content="Eleventy v2.0.0" />
        <meta name="HandheldFriendly" content="true" />
        <title>Insight</title>
        <link rel="stylesheet" href="css/theme.min.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <style>
            /* inter-300 - latin */
            @font-face {
                font-family: "Inter";
                font-style: normal;
                font-weight: 300;
                font-display: swap;
                src: local(""),
                    url("fonts/inter-v12-latin-300.woff2") format("woff2"),
                    /* Chrome 26+, Opera 23+, Firefox 39+ */
                        url("fonts/inter-v12-latin-300.woff") format("woff");
                /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            }

            /* inter-400 - latin */
            @font-face {
                font-family: "Inter";
                font-style: normal;
                font-weight: 400;
                font-display: swap;
                src: local(""),
                    url("fonts/inter-v12-latin-regular.woff2") format("woff2"),
                    /* Chrome 26+, Opera 23+, Firefox 39+ */
                        url("fonts/inter-v12-latin-regular.woff") format("woff");
                /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            }

            @font-face {
                font-family: "Inter";
                font-style: normal;
                font-weight: 500;
                font-display: swap;
                src: local(""),
                    url("fonts/inter-v12-latin-500.woff2") format("woff2"),
                    /* Chrome 26+, Opera 23+, Firefox 39+ */
                        url("fonts/inter-v12-latin-500.woff") format("woff");
                /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            }

            @font-face {
                font-family: "Inter";
                font-style: normal;
                font-weight: 700;
                font-display: swap;
                src: local(""),
                    url("fonts/inter-v12-latin-700.woff2") format("woff2"),
                    /* Chrome 26+, Opera 23+, Firefox 39+ */
                        url("fonts/inter-v12-latin-700.woff") format("woff");
                /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            }
        </style>
    </head>

    <body
        class="bg-black text-white mt-0"
        data-bs-spy="scroll"
        data-bs-target="#navScroll"
    >
        <nav
            id="navScroll"
            class="navbar navbar-dark bg-black fixed-top px-vw-5"
            tabindex="0"
        >
            <div class="container">
                <a
                    class="navbar-brand pe-md-4 fs-4 col-12 col-md-auto text-center"
                    href="/"
                >
                    <div class="logo-div">
                      <img src="/images/logos/logo-main.png" alt="">
                    </div>
                </a>

                <ul
                    class="navbar-nav mx-auto mb-2 mb-lg-0 list-group list-group-horizontal"
                >
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="/" aria-label="Homepage">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link fs-5"
                            href="/pitch"
                            aria-label="A sample content page"
                        >
                            Pitch
                        </a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link fs-5"
                            href="/account"
                            aria-label="A system message page"
                        >
                            Account
                        </a>
                    </li>
                </ul>
                <a href=""><img src="" alt="" /></a>
            </div>
        </nav>

        <main>
            <div
                class="w-100 overflow-hidden position-relative bg-black text-white"
                data-aos="fade"
            >
                <div
                    class="position-absolute w-100 h-100 bg-black opacity-75 top-0 start-0"
                ></div>
                <div
                    class="container py-vh-4 position-relative mt-5 px-vw-5 text-center"
                >
                    <div
                        class="row d-flex align-items-center justify-content-center py-vh-5"
                    >
                        <div class="col-12 col-xl-10">
                            <span class="h5 text-secondary fw-lighter"
                                >Our Mission</span
                            >
                            <h1 class="display-huge mt-3 mb-3 lh-1">
                                "Empowering Women, Elevating Ideas <br />
                                Unleash Your Potential, Inspire the World."
                            </h1>
                        </div>
                        <div class="col-12 text-center">
                            <a href="#" class="btn btn-xl btn-light"
                                >Join us
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-arrow-right"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                                    />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="w-100 position-relative bg-black text-white bg-cover d-flex align-items-center"
            >
                <div class="container-fluid px-vw-5">
                    <div
                        class="position-absolute w-100 h-50 bg-dark bottom-0 start-0"
                    ></div>
                    <div
                        class="row d-flex align-items-center position-relative justify-content-center px-0 g-5"
                    >
                        <div class="col-12 col-lg-6">
                            <img
                                src="img/webp/final.png"
                                width="2280"
                                height="1732"
                                alt="abstract image"
                                class="img-fluid position-relative rounded-5 shadow"
                                data-aos="fade-up"
                            />
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <img
                                src="img/webp/new.png"
                                width="1116"
                                height="848"
                                alt="abstract image"
                                class="img-fluid position-relative rounded-5 shadow"
                                data-aos="fade-up"
                                data-aos-duration="3000"
                            />
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <img
                                src="img/webp/new1.png"
                                width="1116"
                                height="848"
                                alt="abstract image"
                                class="img-fluid position-relative rounded-5 shadow"
                                data-aos="fade-up"
                                data-aos-duration="3000"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-dark">
                <div class="container px-vw-5 py-vh-5">
                    <div class="row d-flex align-items-center">
                        <div
                            class="col-12 col-lg-7 text-lg-end"
                            data-aos="fade-right"
                        >
                            <span class="h5 text-secondary fw-lighter"
                                >What we do</span
                            >
                            <h2 class="display-4">
                                Empowering Women Worldwide: A Platform for
                                Sharing Ideas and Skills
                            </h2>
                        </div>
                        <div class="col-12 col-lg-5" data-aos="fade-left">
                            <h3 class="pt-5">Empowering Skills & Innovation</h3>
                            <p class="text-secondary">
                                Join us in revolutionizing the way women
                                collaborate and innovate. Our platform fosters a
                                community where individuals passionate about
                                product design and strategy come together to
                                share ideas and skills.<br />
                                <a
                                    href="#"
                                    class="link-fancy link-fancy-light me-2"
                                    >Discover More</a
                                >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="currentColor"
                                    class="bi bi-arrow-right-circle"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                                    />
                                </svg>
                            </p>
                            <h3 class="border-top border-secondary pt-5 mt-5">
                                Collaborative Development & Engineering
                            </h3>
                            <p class="text-secondary">
                                Our community is committed to driving innovation
                                in development and engineering. Explore
                                opportunities to connect, learn, and contribute
                                to cutting-edge projects that make a global
                                impact.<br />
                                <a
                                    href="#"
                                    class="link-fancy link-fancy-light me-2"
                                    >Learn More</a
                                >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="currentColor"
                                    class="bi bi-arrow-right-circle"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                                    />
                                </svg>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-black py-vh-3">
                <div
                    class="container bg-black px-vw-5 py-vh-3 rounded-5 shadow"
                >
                    <div class="row gx-5">
                        <div class="col-12 col-md-6">
                            <div
                                class="card bg-transparent mb-5"
                                data-aos="zoom-in-up"
                            >
                                <div class="bg-dark shadow rounded-5 p-0">
                                    <img
                                        src="img/wing-women.jpeg"
                                        width="582"
                                        height="327"
                                        alt="abstract image"
                                        class="img-fluid rounded-5 no-bottom-radius"
                                        loading="lazy"
                                    />
                                    <div class="p-5">
                                        <h2 class="fw-lighter">
                                            WING – Women Rise Together
                                        </h2>
                                        <p class="pb-4 text-secondary">
                                            WING, Startup India's flagship (Feb
                                            2019 - Aug 2020), empowered 1,390+
                                            women nationwide. In 24 workshops
                                            across 10 states, participants
                                            gained mentorship, pitching
                                            opportunities, incubation offers,
                                            and comprehensive business training.
                                        </p>
                                        <a
                                            href="https://www.startupindia.gov.in/content/sih/en/ams-application/workshop.html?applicationId=5df74355e4b08052fb69865e"
                                            class="link-fancy link-fancy-light"
                                            >Read more</a
                                        >
                                    </div>
                                </div>
                            </div>

                            <div
                                class="card bg-transparent"
                                data-aos="zoom-in-up"
                            >
                                <div class="bg-dark shadow rounded-5 p-0">
                                    <img
                                        src="img/awe-women.jpeg"
                                        width="582"
                                        height="442"
                                        alt="abstract image"
                                        class="img-fluid rounded-5 no-bottom-radius"
                                        loading="lazy"
                                    />
                                    <div class="p-5">
                                        <h2 class="fw-lighter">
                                            AWE (Accelerating Women
                                            Entrepreneurs)
                                        </h2>
                                        <p class="pb-4 text-secondary">
                                            AWE, by WICCI BCC, is a high-impact
                                            program for women-led businesses,
                                            covering business readiness,
                                            financing, mentorship, and
                                            networking. Culminating in a speed
                                            networking session for participants
                                            to present their business models to
                                            investors, it accelerates their
                                            growth journey.
                                        </p>
                                        <a
                                            href="https://www.startupindia.gov.in/content/sih/en/ams-application/accelerator-program.html?applicationId=60937745e4b04486ed6bd667"
                                            class="link-fancy link-fancy-light"
                                            >Read more</a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="p-5 pt-0 mt-5" data-aos="fade">
                                <span class="h5 text-secondary fw-lighter"
                                    >Women Empowering the World</span
                                >
                                <h2 class="display-4">
                                    Unveiling Inspiring Startups and
                                    Achievements
                                </h2>
                            </div>
                            <div
                                class="card bg-transparent mb-5 mt-5"
                                data-aos="zoom-in-up"
                            >
                                <div class="bg-dark shadow rounded-5 p-0">
                                    <img
                                        src="img/virtual-women.jpeg"
                                        width="582"
                                        height="390"
                                        alt="abstract image"
                                        class="img-fluid rounded-5 no-bottom-radius"
                                        loading="lazy"
                                    />
                                    <div class="p-5">
                                        <h2 class="fw-lighter">
                                            Virtual Incubation Program for Women
                                            Entrepreneurs (VIP-WE)
                                        </h2>
                                        <p class="pb-4 text-secondary">
                                            Zone Startups India, in
                                            collaboration with Startup India, is
                                            launching the 1st edition of Virtual
                                            Startup Incubation, focusing on tech
                                            innovations led by women
                                            entrepreneurs. This 2-month program
                                            nurtures 20 early-stage startups,
                                            offering mentoring, an extensive
                                            network, and a global platform
                                            through the strategic partnership
                                            with 100 Open Startup for next-level
                                            growth.
                                        </p>
                                        <a
                                            href="https://www.startupindia.gov.in/content/sih/en/ams-application/incubator-program.html?applicationId=5f06b1dde4b0f2b258378ee9"
                                            class="link-fancy link-fancy-light"
                                            >Read more</a
                                        >
                                    </div>
                                </div>
                            </div>

                            <div
                                class="card bg-transparent"
                                data-aos="zoom-in-up"
                            >
                                <div class="bg-dark shadow rounded-5 p-0">
                                    <img
                                        src="img/superstree-women.jpeg"
                                        width="582"
                                        height="327"
                                        alt="abstract image"
                                        class="img-fluid rounded-5 no-bottom-radius"
                                        loading="lazy"
                                    />
                                    <div class="p-5">
                                        <h2 class="fw-lighter">
                                            SuperStree Startup India Video
                                            Podcast
                                        </h2>
                                        <p class="pb-4 text-secondary">
                                            Startup India, DPIIT, aims to
                                            inspire more women entrepreneurs
                                            across India through a Video Podcast
                                            series on Women in the Indian
                                            Startup Ecosystem. With the goal of
                                            strengthening women
                                            entrepreneurship, the initiative
                                            seeks to have a positive impact on
                                            both startup founders and the
                                            country's economic development.
                                        </p>
                                        <a
                                            href="https://www.startupindia.gov.in/content/sih/en/super-stree-startup-india-video.html"
                                            class="link-fancy link-fancy-light"
                                            >Read more</a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           

            <div class="bg-dark py-vh-5">
                <div class="container px-vw-5">
                    <div class="row d-flex gx-5 align-items-center">
                        <div class="col-12 col-lg-6">
                            <div
                                class="rounded-5 bg-black p-5 shadow"
                                data-aos="zoom-in-right"
                            >
                                <div class="fs-1"></div>
                                <p class="text-secondary lead">
                                    "Lorem ipsum dolor sit amet, consectetur
                                    tempor incididunt ut labore et dolore magna
                                    aliqua ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat."
                                </p>
                                <div
                                    class="d-flex justify-content-start align-items-center border-top border-secondary pt-3"
                                >
                                    <img
                                        src="img/webp/person14.webp"
                                        width="96"
                                        height="96"
                                        class="rounded-circle me-3"
                                        alt="a nice person"
                                        data-aos="fade"
                                        loading="lazy"
                                    />
                                    <div>
                                        <span class="h6 fw-5"
                                            >Jane Doemunsky</span
                                        ><br />
                                        <small class="text-secondary"
                                            >COO, The Boo Corp.</small
                                        >
                                    </div>
                                </div>
                            </div>
                            <div
                                class="rounded-5 bg-black p-5 shadow mt-5"
                                data-aos="zoom-in-right"
                            >
                                <p class="text-secondary lead">
                                    "Lorem ipsum dolor sit amet, consectetur
                                    tempor incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam. quis
                                    nostrud exercitation ullamco laboris nisi ut
                                    aliquip ex ea commodo consequat."
                                </p>
                                <div
                                    class="d-flex justify-content-start align-items-center border-top border-secondary pt-3"
                                >
                                    <img
                                        src="img/webp/person13.webp"
                                        width="96"
                                        height="96"
                                        class="rounded-circle me-3"
                                        alt="a nice person"
                                        data-aos="fade"
                                        loading="lazy"
                                    />
                                    <div>
                                        <span class="h6 fw-5"
                                            >Jane Doemunsky</span
                                        ><br />
                                        <small class="text-secondary"
                                            >COO, The Boo Corp.</small
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="p-5 pt-0" data-aos="fade">
                                <span class="h5 text-secondary fw-lighter"
                                    >What others have to say</span
                                >
                                <h2 class="display-4">
                                    Insightful reviews contributed by the
                                    formidable women in our community.
                                </h2>
                            </div>
                            <div
                                class="rounded-5 bg-black p-5 shadow mt-5 gradient"
                                data-aos="zoom-in-left"
                            >
                                <p class="lead">
                                    "Consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim
                                    veniam, quis nostrud exercitation ullamco
                                    laboris nisi ut aliquip ex ea commodo
                                    consequat."
                                </p>
                                <div
                                    class="d-flex justify-content-start align-items-center border-top pt-3"
                                >
                                    <img
                                        src="img/webp/person16.webp"
                                        width="96"
                                        height="96"
                                        class="rounded-circle me-3"
                                        alt="a nice person"
                                        data-aos="fade"
                                        loading="lazy"
                                    />
                                    <div>
                                        <span class="h6 fw-5"
                                            >Jane Doemunsky</span
                                        ><br />
                                        <small>COO, The Boo Corp.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/aos.js"></script>
        <script>
            AOS.init({
                duration: 800, // values from 0 to 3000, with step 50ms
            });
        </script>
        <script>
            let scrollpos = window.scrollY;
            const header = document.querySelector(".navbar");
            const header_height = header.offsetHeight;

            const add_class_on_scroll = () =>
                header.classList.add("scrolled", "shadow-sm");
            const remove_class_on_scroll = () =>
                header.classList.remove("scrolled", "shadow-sm");

            window.addEventListener("scroll", function () {
                scrollpos = window.scrollY;

                if (scrollpos >= header_height) {
                    add_class_on_scroll();
                } else {
                    remove_class_on_scroll();
                }

                console.log(scrollpos);
            });
        </script>

        <script src="/script/toast.js"></script>
        <script src="/script/sse.js"></script>
    </body>
</html>
