<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <form action="" id="loginForm" method="post">
        email
        <input type="text" name="email" id="">
        passord
        <input type="password" name="password" id="">
        <button type="submit">Button</button>
    </form>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="/script/fetchData.js"></script>
    <script src="/script/toast.js"></script>
    <script src="/script/authentication.js"></script>
</body>
</html>