<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <form action="" id="registerForm" method="post">
        name
        <input type="text" name="name" id="">
        mobile
        <input type="number" name="mobile" id="">
        email
        <input type="text" name="email" id="">
        passord
        <input type="password" name="password" id="">
        cPassword
        <input type="password" name="cPassword" id="">
        profile
        <input type="file" name="profile" id="">
        <button type="submit">Button</button>
    </form>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="/script/fetchData.js"></script>
    <script src="/script/toast.js"></script>
    <script src="/script/authentication.js"></script>
</body>
</html> -->


<!doctype html>
<html class="h-100" lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
   <meta name="description" content="A well made and handcrafted Bootstrap 5 template">
   <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
   <link rel="icon" type="image/png" sizes="96x96" href="img/favicon.png">
   <meta name="author" content="Holger Koenemann">
   <meta name="generator" content="Eleventy v2.0.0">
   <meta name="HandheldFriendly" content="true">
   <title>Register a new account</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous" referrerpolicy="no-referrer"   />
   <link rel="stylesheet" href="css/theme.min.css">

   <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body class="d-flex h-100 w-100 bg-black text-white" data-bs-spy="scroll" data-bs-target="#navScroll">
   <div class="h-100 container-fluid">
      <div class="h-100 row d-flex align-items-stretch">
         <div class="col-12 col-md-7 col-lg-6 col-xl-5 d-flex align-items-start flex-column px-vw-5">
            <header class="mb-auto py-vh-2 col-12">
               <a class="navbar-brand pe-md-4 fs-4 col-12 col-md-auto text-center" href="index.html">
                  <i class="fa-solid fa-people-group"></i>
                  <span class="ms-md-1 mt-1 fw-bolder me-md-5">Insight</span>
               </a>
            </header>
            <main class="mb-auto col-12">
               <h1>Register a new account</h1>



               <form class="row" id="registerForm" method="post">
                  <div class="col-12">


                     <div class="mb-3">
                        <label for="exampleInputName1" class="form-label">Name</label>
                        <input type="text" name="name" class="form-control form-control-lg bg-gray-800 border-dark"
                           id="exampleInputName1" aria-describedby="nameHelp" autocomplete="new-name">
                     </div>



                     <div class="row">
                        <div class="col-md-6 mb-3">
                           <label for="exampleInputEmail1" class="form-label">Email</label>
                           <input type="text" name="email" class="form-control form-control-lg bg-gray-800 border-dark"
                              id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="col-md-6 mb-3">
                           <label for="exampleInputMobile" class="form-label">Mobile</label>
                           <input type="number" name="mobile"
                              class="form-control form-control-lg bg-gray-800 border-dark" id="exampleInputMobile"
                              aria-describedby="mobileHelp">
                        </div>
                     </div>


                     <div class="row">
                        <div class="col-md-6 mb-3">
                           <label for="exampleInputPassword1" class="form-label">Password</label>
                           <input type="password" name="password"
                              class="form-control form-control-lg bg-gray-800 border-dark" id="exampleInputPassword1">
                        </div>
                        <div class="col-md-6 mb-3">
                           <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                           <input type="password" type="password" name="cPassword"
                              class="form-control form-control-lg bg-gray-800 border-dark" id="exampleInputPassword1">
                        </div>
                     </div>


                     <div class="mb-3 form-check py-3">
                        <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1"> -->
                        <label class="form-check-label" for="exampleCheck1">Already a user ? <a
                              style='color:rgb(41, 132, 175)' href="/login">login</a> </label>
                     </div>


                     <button type="submit" class="btn btn-white btn-xl mb-4">Submit</button>
                  </div>
               </form>




            </main>
         </div>
         <div class="col-12 col-md-5 col-lg-6 col-xl-7 bg-image">
            <img src="/img/Untitled design (23).png" alt="Description of the image"
               style="max-width: 103.7%; height: 100%;">
         </div>
      </div>
   </div>
</body>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/script/fetchData.js"></script>
<script src="/script/toast.js"></script>
<script src="/script/authentication.js"></script>

</html>