button {
    background: #fbca1f;
    font-family: inherit;
    /* padding: 0.6em 1.3em; */
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
}

button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.swal2-textarea {
    width: 82%;
    height: 100px;
    resize: none;
    font-size: medium;

}

.swal2-input {
    width: 82%;
    font-size: medium;
    font-weight: bolder;
}

.scrollable-list {
    max-height: 300px; /* Set a maximum height for the container */
    overflow-y: auto; /* Enable vertical scroll if the content overflows */
  }